.login {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 98%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 5rem;
  font-weight: 800;
  color: var(--primary);
  margin-bottom: 1rem;
}

.loginDesc {
  font-size: 2.4rem;
}
.registerBox {
  height: 75rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 5rem;
  border-radius: 1rem;
  border: 1px solid grey;
  font-size: 1.8rem;
  padding-left: 2rem;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  font-size: 1.4rem;
  color: var(--primary);
}

.loginRegisterButton {
  width: 50%;
  align-self: center;
  height: 5rem;
  border-radius: 1rem;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}
